@import "tailwindcss";

/* ライトモード用 */
:root {
  --background: #fffdf1;
  --foreground: #171717;

  --sidebar-menu-background: #fff59c;
  --sidebar-menu-foreground: #000000;
  --sidebar-menu-content: #6b6b6b;
}

/* ダークモード用 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-m-plus-1p);
  --font-mono: var(--font-m-plus-1-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "M PLUS 1p", Arial, Helvetica, sans-serif;
}

.layout-header {
  @apply h-16 grid grid-cols-12 text-lg;
}

.wiki-logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.layout-sidebar {
  margin: 0 .5rem;
}

.sidebar-menu {
  background: var(--sidebar-menu-background);
  color: var(--sidebar-menu-foreground);

  width: 100%;
  padding: .36rem .64rem;
}
.sidebar-menu-title {
  font-weight: 500;
}
.sidebar-menu-list {
  list-style: none;
  margin-left: .64rem;
  margin-top: 0;
}
.sidebar-menu-content {
  font-size: .9rem;
  color: var(--sidebar-menu-content);
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid gray;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1rem;
  border-bottom: 1px solid gray;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: .8rem 0 .64rem 0;
}
h4, h5, h6 {
  font-weight: bold;
  margin: .45rem 0;
}
p {
  margin: .48rem 0;
}
li {
  margin: .32rem 0;
}
ul {
  list-style: square;
  margin: .64rem 0 0 1.6rem;
}

.message-box {
  width: 32rem;
}